# Maven build output
target/
build/
out/

# Env files
.env*

# Docker
Dockerfile*
docker-compose*
.dockerignore

# IDE
.vscode/
.idea/
*.iml

# Git
.git
.gitignore

# Monitoring config
monitoring/

# Docs
*.md
README*

# Cache / OS
*.log
*.DS_Store