services:
  postgres:
    image: pgvector/pgvector:pg17
    container_name: dms_postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - dms_network

  springboot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dms_app
    volumes:
      - .:/app
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    env_file:
      - .env
    networks:
      - dms_network

  python_app:
    build:
      context: ../dms-semantic-service
      dockerfile: Dockerfile
    container_name: dms_python_app
    ports:
      - "8000:8000"
    networks:
      - dms_network

volumes:
  postgres_data:

networks:
  dms_network:
